table {
    border-collapse: collapse;
    width: 960px;

    thead td {
        background-color: #ddd;
        font-weight: bold;
        text-align: center;
    }

    tr {
        min-height: 25px;
    }

    th,
    td {
        border: 1px solid black;
        padding: 5px;

        &.W {
            color: red;
        }

        &.L {
            color: green;
        }
    }
}

.evt-name {
    font-weight: bold;
    color: dodgerblue;

    &.start {
        color: green;
    }

    &.end {
        color: red;
    }
}

.entry {
    td {
        text-align: center;
    }

    td.events {
        text-align: left;
    }

    tr:nth-child(even) td {
        background-color: #eeea;
    }
}

#app {
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1000;

        .loader {
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -60px;
            margin-left: -60px;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}